.maintext    { font-size: 12pt; color: #999999 ; line-height: 15pt; text-decoration: none; font-family: "Times New Roman", "Times", "πŸ≈¡√º"}
.speakernews   { font-size: 12pt; color: #C5E1E7 ; line-height: 15pt; text-decoration: none; font-family: "Times New Roman", "Times", "πŸ≈¡√º"}
.white    { font-size: 12pt; color: #FFFFFF ; line-height: normal; text-decoration: none; font-family: "Times New Roman", "Times", "πŸ≈¡√º"}
.tabletxt {  font-family: "Times New Roman", "Times", "πŸ≈¡√º"; font-size: 12pt; line-height: normal; color: #999999; text-decoration: none}
.sub_title {  font-family: "Times New Roman", "Times", "πŸ≈¡√º"; font-size: 14pt; line-height: normal; color: #999999; text-decoration: none}
.story { font-size: 12pt; color: #999999 ; line-height: normal; text-decoration: none; font-family: "Times New Roman", "Times", "9YEAC<" }
// µÓ∑œ ∆‰¿Ã¡ˆ¿« æ‡∞¸
.agreement   { font-size: 12pt; color: #333333 ; line-height: 15pt; font-family: "Times New Roman", "Times", "πŸ≈¡√º"}
