#domestic    {display:none; margin-left:10px}
#diplomacy   {display:none; margin-left:10px}
#fleet       {display:none; margin-left:10px}
#council     {display:none; margin-left:10px}
#blackmarket {display:none; margin-left:10px}
#info        {display:none; margin-left:10px}
#forum       {display:none; margin-left:10px}
#help        {display:none; margin-left:10px}
